diffik_qpsolvers.py
diffik_qp.py
__pycache__/utils.cpython-311.pyc
__pycache__/
.idea/.gitignore
.idea/misc.xml
.idea/mj_ctrl.iml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml

wandb/**
experiments/*/checkpoints/*epoch*.pt
experiments/*/checkpoints/*epoch*.npz
experiments/*/plots
experiments/*/config.yaml
franka_fr3/table_slope_auto.xml
